.delete-extension-settings .flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.delete-extension-settings label {
    flex-grow: 1;
    margin-right: 10px;
}

.delete-extension-settings .inline-drawer-content > div {
    margin-bottom: 15px;
}

.delete-extension-settings .checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.delete-extension-settings .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.delete-extension-settings .checkbox-container label {
    margin-right: 0;
}

.delete-extension-settings .inline-drawer {
    width: 100%;
}

.delete-extension-settings .inline-drawer-content {
    width: 100%;
}

.delete-extension-settings .inline-drawer-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
}

.delete-extension_block p {
    margin: 10px 0;
    line-height: 1.5;
}

/* Fix popup buttons text orientation/size in callPopup dialogs */
.swal2-actions .swal2-styled {
    writing-mode: horizontal-tb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 6px 12px;
    min-width: 70px;
}
